<mat-expansion-panel id="geneticConfigPanel" #expansionPanel style="width: 600px;">
  <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
    <span style="color:#6200ea; font-weight:bold;">Sensor network generation query<span class="infoIcon"
        (click)="openInfo('optimisationQuery')"><mat-icon>info</mat-icon></span></span>
    <!--    <mat-icon matPrefix fontSet="fa" fontIcon="fa-caret-down" style="margin-top:4px;"></mat-icon>-->
  </mat-expansion-panel-header>

  <!--  <mat-card id="optimisationQueryCard" style="cursor: default !important;">-->

  <!--        Select objectives-->
  <!--  Must choose at least one-->
  <p>Objectives: <span class="infoIcon" (click)="openInfo('objectiveChoice')"><mat-icon>info</mat-icon></span></p>
  <div class="flex flex-row" *ngFor="let obj of geneticObjectives">
   <button class="bg-purple]500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded" id="{{obj.id}}" (click)="toggleGeneticObjective(obj.id)">{{obj.text}} <span *ngIf="objIsSelected(obj.id)" fxFlex="15%">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
      <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
    </svg>        
   </span></button>
  </div>


  <mat-error id="objectiveError" style="margin-top: 2px;" *ngIf="objectiveNotChosen">Please select at least one
    objective</mat-error>

  <!--        Select number of sensors-->
  

    <p style="margin-top: 12px;">Sensors:</p>

    <div *ngFor="let num of sensorNumbersAvailable">
      <label>
        <input type="radio" [value]="num" [name]="sensorNumber" [(ngModel)]="sensorNumber">{{ num }}
      </label>
    </div>




    <!--    Select theta-->
    <p style="margin-top: 12px;">Theta:<span class="infoIcon"
        (click)="openInfo('thetaChoice')"><mat-icon>info</mat-icon></span></p>
    <div *ngFor="let tnum of thetaNumbersAvailable">
      <label>
        <input type="radio" [value]="tnum" [name]="theta" [(ngModel)]="theta">{{ tnum }}
      </label>
    </div>




  <!--        Submit genetic query-->
  <mat-card-actions align="end">
    <!--                  &lt;!&ndash;      todo reset form&ndash;&gt;-->
    <!--                  <button mat-stroked-button color="primary" (click)="resetJob()">RESET</button>-->
    <button mat-raised-button id="submitBtn" color="primary" (click)="submitGeneticQuery()">SUBMIT</button>

  </mat-card-actions>



  <!--</mat-card>-->
</mat-expansion-panel>