 /* @import '~@angular/material/theming';
 @import '../../theme.scss'; */

.sup {
  vertical-align: super !important;
 }

 .primaryText {
   /* color: mat-color($my-accent) !important; */
 }

  MAP
 .map-container {
   position: relative;
   margin: 30px;
   height: 100%;
   width: 100%;
 }

 .map-frame {
   border: 2px solid black;
   height: 100%;
 }

 #map {
   height: 80%;

 }


  /* BUTTONS */
 .leaflet-top button {
   margin: 2px;
 }


 .button-flex-container button {
   margin: 2px;
   position: relative;
 }


 .button-flex-container {
   display: flex;
   position: absolute;
   top: 0;
   margin-top: 3px;
   margin-left: 3px;
   width: 100vw;
 }

 .button-flex-container button:nth-child(4) {
   margin-left:auto;
   margin-right: 10px;
 }






 /* SLIDERS
  Style ngx-slider to echo material slider */
 ::ng-deep {
    markers
   .ngx-slider .ngx-slider-pointer {
     /* background-color: mat-color($my-dark-accent) !important; */
     width: 18px!important;
     height: 18px!important;
     top: -8px!important;
     cursor: move!important; /* fallback if grab cursor is unsupported */
     cursor: grab!important;
     cursor: -moz-grab!important;
     cursor: -webkit-grab!important;
   }

   .ngx-slider-pointer:active {
     cursor: grabbing!important;
     cursor: -moz-grabbing!important;
     cursor: -webkit-grabbing!important;
   }
/* 
  remove central dot on marker */
   .ngx-slider .ngx-slider-pointer:after {
    display: none;
   }
  /* slider selected bar */
   .ngx-slider .ngx-slider-selection {
     /* background:  mat-color($my-dark-accent)!important; */
   }

   .ngx-slider-floor {
     display: none!important;
   }
   .ngx-slider-ceil {
     display: none!important;
   }

   .ngx-slider-bar {
     height: 2px !important;
   }

   .placeSlider .ngx-slider-bubble::after {
     content: '%';
   }
 }

 #optimisationQueryCard .mat-form-field {
   max-width: 107px;
 }


    .grid-tile-left-justify .mat-figure {
      justify-content: start!important;
    }
 



 .list-horizontal {
   display: flex;
   flex-direction: row;

 }
 .legendItem  {

 }

 .mat-chip-legend .mat-nav-list .mat-list-item {
   cursor: default !important;
 }

 .roundedButton {
   border-radius: 20px !important;
   overflow-x: hidden !important;
   white-space: pre-wrap !important;
   max-width: 500px !important;
 }

 .transparentBtn {
   padding: 0 !important;
   background-color: transparent !important;;
   background-repeat: no-repeat;
   border: none;
   overflow: hidden;
   outline: none;
 }

 .roundedButtonNoHiddenOverflow {
   border-radius: 20px !important;
   white-space: pre-wrap !important;
   max-width: 500px !important;
 }

 .defaultCursor {
   cursor: default !important;
 }


  /* markers */
 #airQualCluster {
     background: lightblue;
     border-radius: 50%;
     width: 100px;
     height: 100px;
 }

 #airQualCluster {
   background: lightblue;
   border-radius: 50%;
   width: 100px;
   height: 100px;
 }

  /* loading sample sensor spinner */
 @keyframes spinner {
   to {transform: rotate(360deg);}
 }

 .spinner:before {
   content: '';
   box-sizing: border-box;
   position: absolute;
   top: 50%;
   left: 50%;
   width: 20px;
   height: 20px;
   margin-top: -10px;
   margin-left: -10px;
   border-radius: 50%;
   border: 2px solid #ffffff;
   border-top-color: #000000;
   animation: spinner .8s linear infinite;
 }

 .hiddenDiv {
   visibility: hidden;
 }

  /* darker overlay so that loading spinner text stands out */
 ::ng-deep {
   .cdk-overlay-dark-backdrop {
     background: rgba(0, 0, 0, 0.5);;
   }
 }
