/* // padding does not cover the hint under the objective filtering  so add a bit at the bottom */
::ng-deep .mat-expansion-panel-body {
  padding: 0 15px 15px !important;
}

.roundedButton {
  border-radius: 20px !important;
  
  white-space: pre-wrap !important;
  max-width: 500px !important;
  margin: 0.4em !important;
  line-height: 20px;
}

/* // left align mat grid tile contents */
.left-align-tile > ::ng-deep figure {
  justify-content: flex-start !important;
}
